{% extends "layouts/default.njk" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'home')}}
    <main id="content">

        <!-- Hero -->
        <div class="container py-5 py-lg-6">
            <h1 class="display-3 pb-3">Blog</h1>
            <div class="row">
                <div class="col-lg-8">
                    <p class="lead font-serif mb-6 text-secondary">This is what we are thinking about...</p>
                </div>
            </div>
        </div>

        <!-- Articles -->
        <div class="bg-white text-black pb-5">
            <div class="container py-2">
                <div class="row mt-n6">
                    <div class="col-md-6">
                        <div class="card border-0 mb-5">
                            <a href="article.html" class="img-rising" aria-hidden="true">
                                <img src="assets/img/eyeglasses.jpg" class="card-img-top" alt="">
                            </a>
                            <div class="card-body px-0">
                                <a href="#" class="d-block text-muted text-uppercase mb-2">Design</a>
                                <h2 class="card-title h3">
                                    <a href="article.html">Why clean design creates better experiences</a>
                                </h2>
                                <div class="small text-muted mb-3">5 days ago | 5 min read</div>
                                <p class="card-text">This is a sample intro paragraph and can be used to introduce readers to your article. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card border-0 mb-5">
                            <a href="article.html" class="img-rising" aria-hidden="true">
                                <img src="assets/img/origami.jpg" class="card-img-top" alt="">
                            </a>
                            <div class="card-body px-0">
                                <a href="#" class="d-block text-muted text-uppercase mb-2">Origami</a>
                                <h2 class="card-title h3">
                                    <a href="article.html">How to make origami for beginners</a>
                                </h2>
                                <div class="small text-muted mb-3">7 days ago | 8 min read</div>
                                <p class="card-text">This is a sample intro paragraph and can be used to introduce readers to your article. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0 mb-5">
                            <a href="article.html" class="img-rising" aria-hidden="true">
                                <img src="assets/img/camera.jpg" class="card-img-top" alt="">
                            </a>
                            <div class="card-body px-0">
                                <a href="#" class="d-block text-muted text-uppercase mb-2">Photography</a>
                                <h2 class="card-title h3">
                                    <a href="article.html">How to take better photos with your Canon DSLR</a>
                                </h2>
                                <div class="small text-muted mb-3">9 days ago | 6 min read</div>
                                <p class="card-text">This is a sample intro paragraph and can be used to introduce readers to your article. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0 mb-5">
                            <a href="article.html" class="img-rising" aria-hidden="true">
                                <img src="assets/img/building.jpg" class="card-img-top" alt="">
                            </a>
                            <div class="card-body px-0">
                                <a href="#" class="d-block text-muted text-uppercase mb-2">Architecture</a>
                                <h2 class="card-title h3">
                                    <a href="article.html">The world's 11 greatest modern buildings</a>
                                </h2>
                                <div class="small text-muted mb-3">5 days ago | 5 min read</div>
                                <p class="card-text">This is a sample intro paragraph and can be used to introduce readers to your article. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
    {% import 'macros/footer.njk' as footer -%}
    {{footer.footer('bg-light', 'text-black')}}
{% endblock %}
