{% extends "layouts/docs.njk" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-white', 'border-light', 'navbar-light', 'components')}}
<main id="content">
    <div class="bg-light text-black">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-9">
                    <h1 class="display-4 mb-4">Components</h1>
                    <p class="lead">Since this theme is based on Bootstrap, it includes all <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/" target="_blank">Bootstrap</a> itself does, but with new aesthetics and some extra classes.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white text-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 pl-lg-5 order-lg-2 pt-lg-6">
                    <nav id="nav-comp" class="navbar side-nav d-none d-lg-block navbar-expand-lg navbar-light sticky-top mb-3" aria-label="Components navigation">
                        <a class="collapsed btn-block d-lg-none btn btn-outline-dark mb-3 p-3 text-center" href="#collapseOne" data-toggle="collapse" data-target="#navbarDocs" aria-expanded="false" aria-controls="navbarDocs" aria-label="Toggle navigation">
                            <span class="text-uppercase">Navigation</span>
                        </a>

                        <div class="collapse navbar-collapse" id="navbarDocs">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#avatars">Avatars</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#buttons">Buttons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#forms">Forms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#icons">Icons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#images">Images</a>
                                </li>
                                <li class="nav-item mt-3 mb-2">
                                    <span class="text-uppercase">Utilities</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#borders">Borders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#text">Text</a>
                                </li>
                                <li class="nav-item mt-3 mb-2">
                                    <span class="text-uppercase">Plugins</span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#colcade">Colcade</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#zoom">Zoom</a>
                                </li>
                                <li class="nav-item d-none d-lg-block">
                                    <a class="nav-link" href="#">Go top &uarr;</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="col-lg-9 order-lg-1">

                    <h2 class="pt-5 pt-lg-6" id="avatars">Avatars</h2>
                    <ul class="nav nav-tabs mt-3" id="tab-05" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-05" data-toggle="tab" href="#result-05" role="tab" aria-controls="result-tab-05" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-05" data-toggle="tab" href="#html-05" role="tab" aria-controls="html-tab-05" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light p-4" id="tab-content-05">
                        <div class="tab-pane fade show active" id="result-05" role="tabpanel" aria-labelledby="result-tab-05">
                            <img src="assets/img/tim-schoch.jpg" class="avatar avatar-sm mr-3" alt="...">
                            <img src="assets/img/tim-schoch.jpg" class="avatar avatar-md mr-3" alt="...">
                            <img src="assets/img/tim-schoch.jpg" class="avatar avatar-lg" alt="...">
                        </div>
                        <div class="tab-pane fade" id="html-05" role="tabpanel" aria-labelledby="html-tab-05">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;img class="avatar avatar-sm" src="..." alt="..."&gt;
                                    &lt;img class="avatar avatar-md" src="..." alt="..."&gt;
                                    &lt;img class="avatar avatar-lg" src="..." alt="..."&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h2 class="pt-5 pt-lg-6" id="buttons">Buttons</h2>
                    <ul class="nav nav-tabs mt-3" id="tab-10" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-10" data-toggle="tab" href="#result-10" role="tab" aria-controls="result-tab-10" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-10" data-toggle="tab" href="#html-10" role="tab" aria-controls="html-tab-10" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light p-4" id="tab-content-10">
                        <div class="tab-pane fade show active" id="result-10" role="tabpanel" aria-labelledby="result-tab-10">
                            <button class="btn btn-primary mr-2 my-2">Primary</button>
                            <button class="btn btn-outline-dark my-2">Outline</button>
                        </div>
                        <div class="tab-pane fade" id="html-10" role="tabpanel" aria-labelledby="html-tab-10">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;
                                    &lt;button class="btn btn-outline-dark"&gt;Outline&lt;/button&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h2 class="pt-5 pt-lg-6" id="forms">Forms</h2>
                    <ul class="nav nav-tabs mt-3" id="tab-40" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-40" data-toggle="tab" href="#result-40" role="tab" aria-controls="result-tab-40" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-40" data-toggle="tab" href="#html-40" role="tab" aria-controls="html-tab-40" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light p-4" id="tab-content-40">
                        <div class="tab-pane fade show active" id="result-40" role="tabpanel" aria-labelledby="result-tab-40">
                            <form>
                                <div class="form-row align-items-center">
                                    <div class="col-md-4">
                                        <label class="sr-only" for="inputName">First name</label>
                                        <input type="text" class="form-control border-secondary font-italic mb-3" id="inputName" placeholder="First Name">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="sr-only" for="inputEmail">Email address</label>
                                        <input type="email" class="form-control border-secondary font-italic mb-3" id="inputEmail" placeholder="Email Address">
                                    </div>
                                    <div class="col-md-auto">
                                        <button type="submit" class="btn btn-dark mb-3">Sign Up</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="html-40" role="tabpanel" aria-labelledby="html-tab-40">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;form&gt;
                                        &lt;div class="form-row align-items-center"&gt;
                                            &lt;div class="col-md-4"&gt;
                                                &lt;label class="sr-only" for="inputName"&gt;First name&lt;/label&gt;
                                                &lt;input type="text" class="form-control border-secondary font-italic mb-3" id="inputName" placeholder="First Name"&gt;
                                            &lt;/div&gt;
                                            &lt;div class="col-md-4"&gt;
                                                &lt;label class="sr-only" for="inputEmail"&gt;Email address&lt;/label&gt;
                                                &lt;input type="email" class="form-control border-secondary font-italic mb-3" id="inputEmail" placeholder="Email Address"&gt;
                                            &lt;/div&gt;
                                            &lt;div class="col-md-auto"&gt;
                                                &lt;button type="submit" class="btn btn-dark mb-3"&gt;Sign Up&lt;/button&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/form&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h2 class="pt-5 pt-lg-6" id="icons">Icons</h2>
                    <p class="mb-4">Focus includes <a href="https://material.io/tools/icons/" target="_blank">Material icons.</a> You can change the icon size using <code>.icon-{size}</code>.</p>

                    <ul class="nav nav-tabs mt-3" id="tab-70" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-70" data-toggle="tab" href="#result-70" role="tab" aria-controls="result-tab-70" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-70" data-toggle="tab" href="#html-70" role="tab" aria-controls="html-tab-70" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light p-4" id="tab-content-70">
                        <div class="tab-pane fade show active" id="result-70" role="tabpanel" aria-labelledby="result-tab-70">
                            <i class="material-icons">photo_camera</i>
                            <i class="material-icons icon-lg">photo_camera</i>
                            <i class="material-icons icon-2x">photo_camera</i>
                            <i class="material-icons icon-3x">photo_camera</i>
                            <i class="material-icons icon-5x">photo_camera</i>
                        </div>
                        <div class="tab-pane fade" id="html-70" role="tabpanel" aria-labelledby="html-tab-70">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;i class="material-icons">photo_camera&lt;/i&gt;
                                    &lt;i class="material-icons icon-lg"&gt;photo_camera&lt;/i&gt;
                                    &lt;i class="material-icons icon-2x"&gt;photo_camera&lt;/i&gt;
                                    &lt;i class="material-icons icon-3x"&gt;photo_camera&lt;/i&gt;
                                    &lt;i class="material-icons icon-5x"&gt;photo_camera&lt;/i&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h2 class="pt-5 pt-lg-6" id="images">Images</h2>
                    <p class="mb-4">Styles for image thumbnails and hover effects.</p>

                    <h3>Thumbnail</h3>
                    <ul class="nav nav-tabs mt-3" id="tab-80" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-80" data-toggle="tab" href="#result-80" role="tab" aria-controls="result-tab-80" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-80" data-toggle="tab" href="#html-80" role="tab" aria-controls="html-tab-80" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light mb-5 p-4" id="tab-content-80">
                        <div class="tab-pane fade show active" id="result-80" role="tabpanel" aria-labelledby="result-tab-80">
                            <img src="assets/img/club-workspace.jpg" alt="..." class="border-secondary img-thumbnail" width="500">
                        </div>
                        <div class="tab-pane fade" id="html-80" role="tabpanel" aria-labelledby="html-tab-80">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;img src="..." alt="..." class="border-secondary img-thumbnail"&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h3>Rising</h3>
                    <ul class="nav nav-tabs mt-3" id="tab-81" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-81" data-toggle="tab" href="#result-81" role="tab" aria-controls="result-tab-81" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-81" data-toggle="tab" href="#html-81" role="tab" aria-controls="html-tab-81" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light mb-5 p-4" id="tab-content-81">
                        <div class="tab-pane fade show active" id="result-81" role="tabpanel" aria-labelledby="result-tab-81">
                            <figure class="img-rising d-inline-block mb-0">
                                <img src="assets/img/sofa-cat.jpg" alt="..." class="img-fluid img-rising" width="500">
                            </figure>
                        </div>
                        <div class="tab-pane fade" id="html-81" role="tabpanel" aria-labelledby="html-tab-81">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;figure class="img-rising d-inline-block"&gt;
                                        &lt;img src="..." alt="..." class="img-fluid"&gt;
                                    &lt;/figure&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h3>Scale</h3>
                    <ul class="nav nav-tabs mt-3" id="tab-82" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-82" data-toggle="tab" href="#result-82" role="tab" aria-controls="result-tab-82" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-82" data-toggle="tab" href="#html-82" role="tab" aria-controls="html-tab-82" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light mb-5 p-4" id="tab-content-82">
                        <div class="tab-pane fade show active" id="result-82" role="tabpanel" aria-labelledby="result-tab-82">
                            <figure class="img-scale d-inline-block mb-0">
                                <div class="img-wrap">
                                    <img src="assets/img/modern-kitchen.jpg" alt="..." class="img-fluid" width="500">
                                </div>
                            </figure>
                        </div>
                        <div class="tab-pane fade" id="html-82" role="tabpanel" aria-labelledby="html-tab-82">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;figure class="img-scale d-inline-block"&gt;
                                        &lt;div class="img-wrap"&gt;
                                            &lt;img src="..." alt="..." class="img-fluid"&gt;
                                        &lt;/div&gt;
                                    &lt;/figure&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h3>Color</h3>
                    <ul class="nav nav-tabs mt-3" id="tab-83" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-83" data-toggle="tab" href="#result-83" role="tab" aria-controls="result-tab-83" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-83" data-toggle="tab" href="#html-83" role="tab" aria-controls="html-tab-83" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light mb-5 p-4" id="tab-content-83">
                        <div class="tab-pane fade show active" id="result-83" role="tabpanel" aria-labelledby="result-tab-83">
                            <figure class="img-color d-inline-block mb-0">
                                <img src="assets/img/club-workspace.jpg" alt="..." class="img-fluid" width="500">
                            </figure>
                        </div>
                        <div class="tab-pane fade" id="html-83" role="tabpanel" aria-labelledby="html-tab-83">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;figure class="img-color d-inline-block"&gt;
                                        &lt;img src="..." alt="..." class="img-fluid"&gt;
                                    &lt;/figure&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h3>Overlay</h3>
                    <ul class="nav nav-tabs mt-3" id="tab-84" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-84" data-toggle="tab" href="#result-84" role="tab" aria-controls="result-tab-84" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-84" data-toggle="tab" href="#html-84" role="tab" aria-controls="html-tab-84" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light p-4" id="tab-content-84">
                        <div class="tab-pane fade show active" id="result-84" role="tabpanel" aria-labelledby="result-tab-84">
                            <figure class="img-overlay d-inline-block">
                                <img src="assets/img/modern-room.jpg" alt="..." class="img-fluid" width="500">
                                <div class="img-hover">
                                    <span class="img-text">View Project</span>
                                </div>
                            </figure>
                        </div>
                        <div class="tab-pane fade" id="html-84" role="tabpanel" aria-labelledby="html-tab-84">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;figure class="img-overlay d-inline-block"&gt;
                                        &lt;img src="..." alt="..." class="img-fluid"&gt;
                                        &lt;div class="img-hover"&gt;
                                            &lt;span class="img-text"&gt;View Project&lt;/span&gt;
                                        &lt;/div&gt;
                                    &lt;/figure&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h2 class="mb-4 pt-5 pt-lg-6" id="borders">Borders</h2>
                    <h3>Border width</h3>
                    <p>Change the border width easily using <code>.border-{size}</code>.</p>
                    <ul class="nav nav-tabs mt-3" id="tab-200" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-200" data-toggle="tab" href="#result-200" role="tab" aria-controls="result-tab-200" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-200" data-toggle="tab" href="#html-200" role="tab" aria-controls="html-tab-200" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light mb-5 p-4" id="tab-content-200">
                        <div class="tab-pane fade show active" id="result-200" role="tabpanel" aria-labelledby="result-tab-200">
                            <span class="border border-dark border-1 d-block mb-3 w-50"></span>
                            <span class="border border-dark border-2 d-block mb-3 w-50"></span>
                            <span class="border border-dark border-3 d-block w-50"></span>
                        </div>
                        <div class="tab-pane fade" id="html-200" role="tabpanel" aria-labelledby="html-tab-200">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;span class="border border-dark border-1"&gt;&lt;/span&gt;
                                    &lt;span class="border border-dark border-2"&gt;&lt;/span&gt;
                                    &lt;span class="border border-dark border-3"&gt;&lt;/span&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h3>Responsive borders</h3>
                    <p>Add or remove left and right borders based on Bootstrap breakpoints.</p>
                    <ul class="nav nav-tabs mt-3" id="tab-201" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-201" data-toggle="tab" href="#result-201" role="tab" aria-controls="result-tab-201" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-201" data-toggle="tab" href="#html-201" role="tab" aria-controls="html-tab-201" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light p-4" id="tab-content-201">
                        <div class="tab-pane fade show active" id="result-201" role="tabpanel" aria-labelledby="result-tab-201">
                            <div class="row">
                                <div class="col-lg border-lg-right border-dark pr-lg-5">
                                    <h3 class="h2 mb-4 text-lg-right">Excepteur sint occaecat aute</h3>
                                </div>
                                <div class="col-lg pl-lg-5">
                                    <p class="lead">Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="html-201" role="tabpanel" aria-labelledby="html-tab-201">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;div class="row"&gt;
                                        &lt;div class="col-lg border-lg-right border-dark pr-lg-5"&gt;
                                            &lt;h3 class="h2 mb-4 text-lg-right"&gt;Excepteur sint occaecat aute&lt;/h3&gt;
                                        &lt;/div&gt;
                                        &lt;div class="col-lg pl-lg-5"&gt;
                                            &lt;p class="lead"&gt;Duis aute irure dolor in reprehenderit in voluptate esse cillum dolore eu fugiat.&lt;/p&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h2 class="mb-4 pt-5 pt-lg-6" id="text">Text</h2>
                    <h3>Font family</h3>
                    <p>Quickly change the font family (serif/sans-serif) of text.</p>
                    <ul class="nav nav-tabs mt-3" id="tab-210" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-210" data-toggle="tab" href="#result-210" role="tab" aria-controls="result-tab-210" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-210" data-toggle="tab" href="#html-210" role="tab" aria-controls="html-tab-210" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light p-4" id="tab-content-210">
                        <div class="tab-pane fade show active" id="result-210" role="tabpanel" aria-labelledby="result-tab-210">
                            <p class="font-serif">Serif font</p>
                            <p class="font-sans-serif">Sans serif font</p>
                        </div>
                        <div class="tab-pane fade" id="html-210" role="tabpanel" aria-labelledby="html-tab-210">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;p class="font-serif"&gt;Serif font&lt;/p&gt;
                                    &lt;p class="font-sans-serif"&gt;Sans serif font&lt;/p&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h2 class="pt-5 pt-lg-6" id="colcade">Colcade</h2>
                    <p><a href="https://github.com/desandro/colcade" target="_blank">Colcade</a> is a lightweight masonry layout. Add a <code>grid</code> class to the container grid and set selectors for column and item elements using <code>data-colcade</code>.</p>
                    <ul class="nav nav-tabs mt-3" id="tab260" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab260" data-toggle="tab" href="#result-260" role="tab" aria-controls="result-tab260" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab260" data-toggle="tab" href="#html260" role="tab" aria-controls="html-tab260" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light mb-5 p-4" id="tab-content260">
                        <div class="tab-pane fade show active" id="result-260" role="tabpanel" aria-labelledby="result-tab260">
                            <div class="row grid" data-colcade="columns: .col-md-6, items: .grid-item">
                                <div class="col-md-6"></div>
                                <div class="col-md-6"></div>

                                <a href="#" class="grid-item">
                                    <figure class="img-rising mb-4">
                                        <img src="assets/img/club-workspace.jpg" alt="Black floor lamp on living room sofa" class="img-fluid mb-2">
                                        <figcaption class="h5 font-weight-normal">Club Workspace<br><span class="small text-muted">Scandinavian</span></figcaption>
                                    </figure>
                                </a>

                                <a href="#" class="grid-item">
                                    <figure class="img-rising mb-4">
                                        <img src="assets/img/white-corner.jpg" alt="White steel chair in front round table" class="img-fluid mb-2">
                                        <figcaption class="h5 font-weight-normal">White Corner<br><span class="small text-muted">Minimalist</span></figcaption>
                                    </figure>
                                </a>

                                <a href="#" class="grid-item">
                                    <figure class="img-rising mb-4">
                                        <img src="assets/img/sofa-cat.jpg" alt="Brown and white wooden table beside sofa" class="img-fluid mb-2">
                                        <figcaption class="h5 font-weight-normal">Living Room<br><span class="small text-muted">Modern</span></figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="html260" role="tabpanel" aria-labelledby="html-tab260">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;div class="row grid" data-colcade="columns: .col-md-6, items:
                                    .grid-item"&gt;
                                        &lt;div class="col-md-6"&gt;&lt;/div&gt;
                                        &lt;div class="col-md-6"&gt;&lt;/div&gt;

                                        &lt;a href="#" class="grid-item"&gt;
                                            &lt;figure class="img-rising mb-4"&gt;
                                                &lt;img src="..." alt="..." class="img-fluid mb-2"&gt;
                                                &lt;figcaption class="h5 font-weight-normal"&gt;Club Workspace&lt;br&gt;&lt;span class="small text-muted"&gt;Scandinavian&lt;/span&gt;&lt;/figcaption&gt;
                                            &lt;/figure&gt;
                                        &lt;/a&gt;

                                        &lt;a href="#" class="grid-item"&gt;
                                            &lt;figure class="img-rising mb-4"&gt;
                                                &lt;img src="..." alt="..." class="img-fluid mb-2"&gt;
                                                &lt;figcaption class="h5 font-weight-normal"&gt;White Corner&lt;br&gt;&lt;span class="small text-muted"&gt;Minimalist&lt;/span&gt;&lt;/figcaption&gt;
                                            &lt;/figure&gt;
                                        &lt;/a&gt;

                                        &lt;a href="#" class="grid-item"&gt;
                                            &lt;figure class="img-rising mb-4"&gt;
                                                &lt;img src="..." alt="..." class="img-fluid mb-2"&gt;
                                                &lt;figcaption class="h5 font-weight-normal"&gt;Living Room&lt;br&gt;&lt;span class="small text-muted"&gt;Modern&lt;/span&gt;&lt;/figcaption&gt;
                                            &lt;/figure&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                    <h2 class="pt-5 pt-lg-6" id="zoom">Zoom</h2>
                    <p>The <a href="https://github.com/spinningarrow/zoom-vanilla.js" target="_blank">zoom plugin</a> provides simple image zoom functionality. Add a <code>data-action="zoom"</code> attribute to any image you want to make zoomable. Zoomed images can be closed by scroll, <em>esc</em>, or click.</p>
                    <ul class="nav nav-tabs mt-3" id="tab-265" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="result-tab-265" data-toggle="tab" href="#result-265" role="tab" aria-controls="result-tab-265" aria-selected="true">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="html-tab-265" data-toggle="tab" href="#html-265" role="tab" aria-controls="html-tab-265" aria-selected="false">HTML</a>
                        </li>
                    </ul>
                    <div class="tab-content bg-light mb-5 p-4" id="tab-content-265">
                        <div class="tab-pane fade show active" id="result-265" role="tabpanel" aria-labelledby="result-tab-265">
                            <div style="max-width: 300px">
                                <img src="assets/img/red-tree.jpg" class="img-fluid" alt="Maple leaf" data-action="zoom">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="html-265" role="tabpanel" aria-labelledby="html-tab-265">
                            <pre class="bg-light m-0 p-0">
                                <code class="lang-html">
                                    &lt;div style="max-width: 300px"&gt;
                                        &lt;img src="..." data-action="zoom" class="img-fluid" alt="..."&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
