{% extends "layouts/default.njk" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'home')}}
    <main id="content">

        <!-- Hero -->
        <div class="container py-5">
            <h1 class="display-2 pb-2">Create an awesome design portfolio</h1>
            <hr class="border-3 border-white my-4 ml-0 text-left w-25" role="presentation">
            <div class="row">
                <div class="col-lg-8">
                    <p class="font-serif lead mb-4 text-secondary">Focus is a clean and elegant Bootstrap theme for designers, architects, photographers and creative people.</p>
                </div>
            </div>
            <a href="https://themes.getbootstrap.com/product/focus/" class="btn btn-primary">Purchase - $39</a>
        </div>

        <!-- Projects -->
        <div class="container py-4">
            <ul class="row list-unstyled">
                <li class="col-md-6 mb-4">
                    <a href="portfolio-1.html">
                        <figure class="img-overlay">
                            <img src="assets/img/portfolio-1.jpg" alt="Interior designer" class="img-thumbnail">
                            <div class="img-hover">
                                <span class="img-text">View Page</span>
                            </div>
                        </figure>
                        <div class="h5 font-weight-normal text-center">Architecture</div>
                    </a>
                </li>

                <li class="col-md-6 mb-4">
                    <a href="portfolio-2.html">
                        <figure class="img-overlay">
                            <img src="assets/img/portfolio-2.jpg" alt="..." class="img-thumbnail">
                            <div class="img-hover">
                                <span class="img-text">View Page</span>
                            </div>
                        </figure>
                        <div class="h5 font-weight-normal text-center">Interior Design</div>
                    </a>
                </li>

                <li class="col-md-6 mb-4">
                    <a href="portfolio-3.html">
                        <figure class="img-overlay">
                            <img src="assets/img/portfolio-3.jpg" alt="..." class="img-thumbnail">
                            <div class="img-hover">
                                <span class="img-text">View Page</span>
                            </div>
                        </figure>
                        <div class="h5 font-weight-normal text-center">Photography</div>
                    </a>
                </li>

                <li class="col-md-6 mb-4">
                    <a href="portfolio-4.html">
                        <figure class="img-overlay">
                            <img src="assets/img/portfolio-4.jpg" alt="..." class="img-thumbnail">
                            <div class="img-hover">
                                <span class="img-text">View Page</span>
                            </div>
                        </figure>
                        <div class="h5 font-weight-normal text-center">Web Design</div>
                    </a>
                </li>
            </ul>
            <div class="text-center my-5">
                <a href="pages.html" class="btn btn-outline-white">View all pages</a>
            </div>
        </div>

        <!-- Testimonials -->
        <div class="bg-white text-black">
            <div class="container py-6">
                <h2 class="h3 text-center mb-5">What people are saying…</h2>
                <div class="row">
                    <div class="col-md">
                        <blockquote class="text-center mb-5 mb-sm-0">
                            <img src="assets/img/tim-schoch.jpg" class="avatar avatar-lg mb-3" alt="Tim Schoch">
                            <cite class="d-block h5 mb-1">Tim Schoch</cite>
                            <span class="small text-muted text-uppercase">Designer</span>
                            <p class="quote text-muted mt-3 mb-0">Focus theme is great. It really saves me time and effort. Thank you so much for your help</p>
                        </blockquote>
                    </div>
                    <div class="col-md">
                        <blockquote class="text-center mb-5 mb-md-0">
                            <img src="assets/img/olive-mathews.jpg" class="avatar avatar-lg mb-3" alt="Olive Mathews">
                            <cite class="d-block h5 mb-1">Olive Mathews</cite>
                            <span class="small text-muted text-uppercase">Photographer</span>
                            <p class="quote text-muted mt-3 mb-0">Focus is great. I will refer everyone I know. This theme is worth much more than I paid. I'm loving it.</p>
                        </blockquote>
                    </div>

                    <div class="col-md">
                        <blockquote class="text-center">
                            <img src="assets/img/malan-alankara.jpg" class="avatar avatar-lg mb-3" alt="Malan Alankara">
                            <cite class="d-block h5 mb-1">Malan Alankara</cite>
                            <span class="small text-muted text-uppercase">Architect</span>
                            <p class="quote text-muted mt-3 mb-0">Not able to tell you how happy I am with Focus. It's exactly what I've been looking for.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <!-- Call to action -->
        <div class="bg-primary text-dark text-center">
            <div class="container py-6">
                <h2 class="font-sans-serif">Focus is mobile-ready, flexible and cross-browser</h2>
                <p class="lead mb-4">Impress your audiences with memorable pages that showcase your works</p>
                <a href="https://themes.getbootstrap.com/product/focus/" class="btn btn-outline-dark">Buy now</a>
            </div>
        </div>
    </main>
    {% import 'macros/footer.njk' as footer -%}
    {{footer.footer('bg-white', 'text-dark')}}
{% endblock %}
