{% extends "layouts/default.njk" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', '')}}
    <main id="content">

        <!-- Hero -->
        <div class="container pt-5 pt-lg-6">
            <h1 class="display-4 mb-5">Architecture Website</h1>

            <img src="assets/img/architecture-1.jpg" class="border-dark img-thumbnail mb-4" alt="">

            <dl class="row px-lg-3 mb-5">
                <div class="col-lg-3">
                    <dt class="font-weight-light text-secondary">Client</dt>
                    <dd>11bits</dd>
                </div>
                <div class="col-lg-3">
                    <dt class="font-weight-light text-secondary">Year</dt>
                    <dd>2018</dd>
                </div>
                <div class="col-lg-3">
                    <dt class="font-weight-light text-secondary">Service</dt>
                    <dd>Web Design</dd>
                </div>
                <div class="col-lg-3">
                    <dt class="font-weight-light text-secondary">Website</dt>
                    <dd><a href="portfolio-1.html">architecture &rarr;</a> </dd>
                </div>
            </dl>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h2>The project</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse <a href="#">cillum</a> dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    <p class="mb-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <img src="assets/img/architecture-2.jpg" class="border-dark img-thumbnail mb-4" alt="" data-action="zoom">

                    <img src="assets/img/architecture-3.jpg" class="border-dark img-thumbnail" alt="" data-action="zoom">

                    <div class="text-center my-6">
                        <a href="portfolio-4.html" class="btn btn-outline-white">View all projects</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% import 'macros/footer.njk' as footer -%}
    {{footer.footer('bg-white', 'text-dark')}}
{% endblock %}
