{% extends "layouts/default.njk" %}
{% block content %}
{% import 'macros/header.njk' as header %}
{{header.nav('bg-white', 'border-light', 'navbar-light', '')}}
    <main id="content">

        <!-- Hero -->
        <div class="bg-white text-black text-sm-center">
            <div class="container py-5 pt-lg-6">
                <h1 class="display-4 pb-4">White corner</h1>
                <dl class="row justify-content-sm-center mb-4 pb-4">
                    <div class="col-sm-3">
                        <dt class="font-weight-light text-muted">Client</dt>
                        <dd>Name</dd>
                    </div>
                    <div class="col-sm-3">
                        <dt class="font-weight-light text-muted">Year</dt>
                        <dd>2018</dd>
                    </div>
                    <div class="col-sm-3">
                        <dt class="font-weight-light text-muted">Location</dt>
                        <dd>Somewhere</dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="bg-light text-dark pt-2 pb-5">
            <div class="container">
                <img src="assets/img/white-corner-1.jpg" class="img-fluid mt-n6 mb-5" alt="">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h2>The beauty of simplicity</h2>
                        <p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse <a href="#">cillum</a> dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                        <img src="assets/img/white-corner-2.jpg" class="img-fluid mb-3" alt="">

                        <img src="assets/img/white-corner-3.jpg" class="img-fluid" alt="">

                        <!-- Features -->
                        <div class="row text-center mt-5 mt-lg-6 mb-3">
                            <div class="col-md-4 mb-5">
                                <i class="material-icons icon-3x text-primary mb-3" aria-hidden="true">crop_5_4</i>
                                <h3 class="h4 font-weight-normal mb-3">Simple</h3>
                                <p class="mb-0">Duis aute irure dolor in reprehenderit.</p>
                            </div>

                            <div class="col-md-4 mb-5">
                                <i class="material-icons icon-3x text-primary mb-3" aria-hidden="true">nature</i>
                                <h3 class="h4 font-weight-normal mb-3">Wood</h3>
                                <p class="mb-0">Ut enim ad minim veniam quis nostrud</p>
                            </div>

                            <div class="col-md-4 mb-5">
                                <i class="material-icons icon-3x text-primary mb-3" aria-hidden="true">invert_colors</i>
                                <h3 class="h4 font-weight-normal mb-3">Light</h3>
                                <p class="mb-0">Duis aute irure dolor in reprehenderit.</p>
                            </div>
                        </div>

                        <div class="text-center mb-4">
                            <a href="portfolio-2.html" class="btn btn-outline-black">View all projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    {% import 'macros/footer.njk' as footer -%}
    {{footer.footer('bg-white', 'text-dark')}}
{% endblock %}
