{% extends "layouts/default.njk" %}
{% block content -%}
{% import 'macros/header.njk' as header -%}
{{header.nav('bg-black', 'border-dark', 'navbar-dark', 'style')}}
    <main id="content">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-9">
                    <h1 class="display-4 mb-4">Style</h1>
                    <p class="lead text-secondary">Typography and colors used to style this theme.</p>
                </div>
            </div>
        </div>

        <div class="container pb-5">
            <h2 class="mb-4">Typography</h2>
            <table class="table table-responsive-md">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Example</th>
                        <th>Font</th>
                        <th>Font Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Display 1</td>
                        <td>
                            <span class="display-1">ABCabc</span>
                        </td>
                        <td>Fira Sans</td>
                        <td>6 rem</td>
                    </tr>
                    <tr>
                        <td>Display 2</td>
                        <td>
                            <span class="display-2">ABCabc</span>
                        </td>
                        <td>Fira Sans</td>
                        <td>5.5 rem</td>
                    </tr>
                    <tr>
                        <td>Display 3</td>
                        <td>
                            <span class="display-3">ABCabc</span>
                        </td>
                        <td>Fira Sans</td>
                        <td>4.5 rem</td>
                    </tr>
                    <tr>
                        <td>Display 4</td>
                        <td>
                            <span class="display-4">ABCabc</span>
                        </td>
                        <td>Fira Sans</td>
                        <td>3.5 rem</td>
                    </tr>
                    <tr>
                        <td>Heading 1</td>
                        <td>
                            <h1>ABCabc</h1>
                        </td>
                        <td>Playfair Display</td>
                        <td>3 rem</td>
                    </tr>
                    <tr>
                        <td>Heading 2</td>
                        <td>
                            <h2>ABCabc</h2>
                        </td>
                        <td>Playfair Display</td>
                        <td>2.25 rem</td>
                    </tr>
                    <tr>
                        <td>Heading 3</td>
                        <td>
                            <h3>ABCabc</h3>
                        </td>
                        <td>Playfair Display</td>
                        <td>1.75 rem</td>
                    </tr>
                    <tr>
                        <td>Heading 4</td>
                        <td>
                            <h4>ABCabc</h4>
                        </td>
                        <td>Playfair Display</td>
                        <td>1.5 rem</td>
                    </tr>
                    <tr>
                        <td>Paragraph</td>
                        <td>
                            <p>ABCabc</p>
                        </td>
                        <td>Fira Sans</td>
                        <td>1 rem</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="mb-4">Lead</h3>
            <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
            <p class="lead mb-5">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>

            <h3 class="mb-4">Quote</h3>
            <p>Add <code>.quote</code> to add style and quotes to a text.</p>
            <p class="quote mb-5">Excepteur sint occaecat cupidatat non proident, sunt<br> in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h3 class="mb-4">Links</h3>
            <p class="mb-5">Links inside paragraphs are <a href="#">underlined</a>.</p>

            <h3 class="mb-4">Blockquote</h3>
            <p class="mb-4">Add <code>.blockquote</code> for quoting blocks of content from another source.</p>
            <blockquote class="blockquote mb-4">
                <p class="font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>

            <blockquote class="blockquote mb-5 text-center">
                <p class="font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>

            <blockquote class="blockquote mb-4 text-right">
                <p class="font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>

            <h2 class="mb-4">Colors</h2>

            <div class="row no-gutters mb-5">
                <div class="col-md-3 bg-primary pt-2 pb-5 px-3 text-dark text-uppercase">
                    Primary
                </div>
                <div class="col-md-3 bg-secondary pt-2 pb-5 px-3 text-black text-uppercase">
                    Secondary
                </div>
                <div class="col-md-3 bg-success pt-2 pb-5 px-3 text-white text-uppercase">
                    Success
                </div>
                <div class="col-md-3 bg-info pt-2 pb-5 px-3 text-white text-uppercase">
                    Info
                </div>
                <div class="col-md-3 bg-warning pt-2 pb-5 px-3 text-white text-uppercase">
                    Warning
                </div>
                <div class="col-md-3 bg-danger pt-2 pb-5 px-3 text-white text-uppercase">
                    Danger
                </div>
                <div class="col-md-3 bg-light pt-2 pb-5 px-3 text-dark text-uppercase">
                    Light
                </div>
                <div class="col-md-3 bg-dark pt-2 pb-5 px-3 text-white text-uppercase">
                    Dark
                </div>
            </div>
        </div>
    </main>
{% endblock %}
