<!doctype html>
<html lang="en">
{% include "includes/head-2.njk" %}
<body data-spy="scroll" data-target="#navbarDocs">
{% block content %} {% endblock %}
    <script src="assets/js/theme.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
</body>
</html>
